<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <%= render "product_categories", taxonomies: taxonomies %>
  <%= render "search_for_by_price" %>
  <%= render "search_for_by_option_types", option_types: option_types %>
</div>
