<% grid_variants.each do |grid_variant| %>
  <div class="col-sm-4 col-xs-12">
    <div class="productBox">
      <div class="productImage clearfix">
        <%= image_tag(grid_variant.display_image.attachment.url(:product)) %>
        <%= render "potepan/shared/product_masking" %>
      </div>
      <div class="productCaption clearfix">
        <%= link_to potepan_product_path(grid_variant.product_id,
             prm_key(param) => prm_value(param), prm_key(another_param) => other_prm(variant: grid_variant, prm_value: prm_value(param)) ) do %>
          <h5><%= grid_variant.product.name %></h5>
          <h3><%= grid_variant.product.display_price %></h3>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
