<div class="col-sm-4 col-xs-12">
  <div class="productBox">
    <div class="productImage clearfix">
      <%= image_tag(grid_product.display_image.attachment.url(:product)) %>
      <%= render "potepan/shared/product_masking" %>
    </div>
    <div class="productCaption clearfix">
      <%= link_to potepan_product_path(grid_product.id) do %>
        <h5><%= grid_product.name %></h5>
        <h3><%= grid_product.display_price %></h3>
      <% end %>
    </div>
  </div>
</div>