<div class="col-md-9 col-sm-8 col-xs-12">
  <div class="row filterArea">
    <%= render "sort_menubar_for_products" %>
  </div>
  <div class="row productListSingle">
    <% if param.nil? && another_param.nil? %>
      <%= render partial: "list_product", collection: products_or_variants %>
    <% else %>
      <%= render partial: "list_variant", locals: { list_variants: products_or_variants, param: param, another_param: another_param } %>
    <% end %>
  </div>
</div>
