<% list_variants.each do |list_variant| %>
  <div class="col-xs-12">
    <div class="media">
      <div class="media-left">
        <%= image_tag(list_variant.display_image.attachment.url(:product)) %>
        <span class="maskingImage"><a data-toggle="modal" href=".quick-view" class="btn viewBtn">Quick View</a></span>
      </div>
      <div class="media-body">
        <%= link_to potepan_product_path(list_variant.product_id,
             prm_key(param) => prm_value(param), prm_key(another_param) => other_prm(variant: list_variant, param: param) ) do %>
          <h4 class="media-heading"><%=list_variant.product.name %></h4>
          <p><%= list_variant.product.description %></p>
          <h3><%= list_variant.product.display_price %></h3>
        <% end %>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal">
            <i class="fa fa-heart" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
<% end %>