<div class="panel panel-default filterNormal">
  <% option_types.each do |option_type| %>
    <div class="panel-heading">Find by <%= option_type.presentation %></div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <% option_type.option_values.each do |option_value| %>
          <li>
            <%= link_to potepan_category_path(params[:id], "#{option_type.presentation.downcase}":
                :"#{option_value.presentation}", source: prm_value(:source)) do %>
              <%= option_value.name %><span> ( <%= option_value.variants.count %> )</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

