<div class="col-xs-6">
  <select name="guiest_id1" id="guiest_id1" class="select-drop">
    <option value="0">並び替え</option>
    <option value="1">人気順</option>
    <option value="2">安い順</option>
    <option value="3">新着順</option>
    <option value="3">高い順</option>
  </select>
</div>
<div class="col-xs-6">
  <div class="btn-group pull-right" role="group">
    <%= link_to potepan_category_path(params[:id], @grid_params), class: "btn btn-default " << "#{@grid}" do %>
      <i class="fa fa-th" aria-hidden="true"></i><span>Grid</span>
    <% end %>
    <%= link_to potepan_category_path(params[:id], @list_params), class: "btn btn-default " << "#{@list}" do %>
      <i class="fa fa-th-list" aria-hidden="true"></i><span>List</span>
    <% end %>
  </div>
</div>