<%= provide(:title, @taxon.name) %>

<!-- LIGHT SECTION -->
<%= render "potepan/shared/light_section", name: @taxon.name %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render "categories_menubar", taxonomies: @taxonomies, option_types: @option_types %>

      <% if params[:source].nil? %>
        <%= render "grid_taxon_products", param: @params_name,
                   another_param: @another_params_name, products_or_variants: @products_or_variants %>
      <% else %>
        <%= render "#{params[:source]}_taxon_products", param: @params_name,
                   another_param: @another_params_name, products_or_variants: @products_or_variants %>
      <% end %>
    </div>
  </div>
</section>

<!-- PRODUCT QUICK VIEW MODAL -->
<%= render "potepan/shared/light_section_footer" %>
