<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="productBox">
    <div class="productImage clearfix">
      <%= image_tag product.display_image.attachment.url(:product) %>
      <%= render "potepan/shared/product_masking" %>
    </div>
    <div class="productCaption clearfix">
      <%= link_to potepan_product_path product.id do %>
        <h5><%= product.name %></h5>
        <h3><%= product.display_price %></h3>
      <% end %>
    </div>
  </div>
</div>