<% provide(:title, @product.name) %>
<!-- LIGHT SECTION -->
<%= render "potepan/shared/light_section", name: @product.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render "single_products", product: @product, images: @main_images %>
    <%= render "related_products", related_products: @related_products %>
  </div>
</section>
