<div class="row featuredCollection">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>Hot Categories</h4>
    </div>
  </div>
  <% @categories.each_with_index do |category, index| %>
    <div class="col-sm-4 col-xs-12">
      <div class="thumbnail" onclick="location.href='potepan/categories/<%= category.id %>';">
        <div class="imageWrapper">
          <%= image_tag("home/featured-collection/featured-collection-0#{index + 1}.jpg", :alt => "feature-collection-image") %>
          <div class="masking">
            <a href="potepan/categories/<%= category.id %>" class="btn viewBtn">View <%= category.name %></a></div>
        </div>
        <div class="caption">
          <h4><%= category.name %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>