<div class="row featuredProducts">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>Latest Products</h4>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="owl-carousel featuredProductsSlider">
      <% @latest_products.each do |latest_product| %>
        <div class="slide">
          <div class="productImage clearfix">
            <%= image_tag latest_product.display_image.attachment.url(:product) %>
            <div class="thumbnail" onclick="location.href='/potepan/products/<%= latest_product.id %>';">
              <div class="productMasking">
                <ul class="list-inline btn-group" role="group">
                  <li>
                    <a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a>
                  </li>
                  <li><a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="productCaption clearfix">
            <%= link_to potepan_product_path(latest_product.id) do %>
              <h5><%= latest_product.name %></h5>
              <h3><%= latest_product.display_price %></h3>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>