<div class="row latestArticles">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>Featured Articles</h4>
    </div>
  </div>
  <% (1..4).each do |i| %>
    <div class="col-sm-3 col-xs-12">
      <div class="thumbnail">
        <h5><a href="#">This is the title.</a></h5>
        <span class="meta"><%= Time.now %></span>
        <a href=""><%= image_tag("home/articles/articles-0#{i}.jpg", :alt => "article-image") %></a>
        <div class="caption">
          <p>This would be filled by some letters.</p>
        </div>
      </div>
    </div>
  <% end %>
</div>