<div class="modal fade" id="login" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">LOGIN</h3>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: potepan_user_session_path) do |f| %>
          <div class="form-group">
            <%= f.label :"login-email", "Enter Email" %>
            <%= f.email_field :email, class: "form-control", id: "login-email",
                              autofocus: true, autocomplete: "email" %>
          </div>

          <div class="form-group">
          <%= f.label :"login-password", "Password" %>
            <%= f.password_field :password, class: "form-control", id: "login-email",
                                 autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="checkbox">
              <%= f.label :remember_me do %>
                <%= f.check_box :remember_me %>
                <span>Remember Me</span>
              <% end %>
            </div>
          <% end -%>

          <%= f.submit "Login", class: "btn btn-primary btn-block" %>
        <% end %>
          <%= button_tag "Forgot Password?", class: "btn btn-link btn-block" %>
      </div>
    </div>
  </div>
</div>

