<div class="modal fade" id="signup" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Create an account</h3>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: potepan_user_registration_path, method: :post) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :"signup-email", "Email" %>
            <%= f.email_field :email, class: "form-control", id: "signup-email", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="form-group">
            <%= f.label :"signup-password", "Password" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, class: "form-control", id: "signup-password", autocomplete: "new-password" %>
          </div>

          <div class="form-group">
            <%= f.label :"signup-password-confirmation", "Password Confirmation" %>
            <%= f.password_field :password_confirmation, class: "form-control", id: "signup-password-confirmation", autocomplete: "new-password" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
    </div>
  </div>
</div>

