<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/head" %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  </head>

  <body>
  <div class="main-wrapper">
    <% if potepan_user_signed_in? %>
      <%= render "layouts/header_loginned" %>
    <% else %>
      <%= render "layouts/header_not_loginned" %>
    <% end %>

    <%= yield %>

    <%= render "layouts/footer" %>
    <%= render "layouts/copyright" %>
  </div>

  <%= render "layouts/login_modal" %>
  <%= render "layouts/sign_up_modal" %>
  <%= render "layouts/product_quick_view_modal" %>

  <%= javascript_include_tag 'application' %>
  </body>
</html>
